
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Estilos/StyleSheet.css" type="text/css" />
</head>
<body>
    <div>
        <form action="Inicio/Usuario" method="post">


            <div id="encabezado">
                <label>Registrate</label>
            </div><br>

            <label>Nombre de usuario: <input type="text" name="username" value="" /></label><br />
            <label>Nombre : <input type="text" name="name" value="" /></label><br />
            <label>Apellido: <input type="text" name="lastname" value="" /></label><br />
            <label>Fecha de nacimiento: <input type="date" name="date" value="" /></label><br />
            <label>País: <input type="text" name="country" value="" /></label><br />
            <label>Contraseña: <input type="password" name="password" value="" /></label><br />
            <input type="submit" name="enviar" value="Enviar" />

            <!--<div id="pr"><a href="">Registrate</a></div>-->


        </form>

        </div>
    </body>
    </html>
