
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tablero</title>
    <link rel="stylesheet" href="~/Estilos/StyleSheet.css" type="text/css" />
</head>
<body>

    <div id="login">
        <div id="encabezado">
            <label>Othello</label>
        </div><br>

        <div class="elec">
            <label>Cargar partida</label>
        </div><br>

        <div class="elec">
            <label>Individual</label>
        </div><br>

        <div class="elec">
            <label>Partida nueva</label>
        </div><br>

        <div class="elec">
            <label>Torneo</label>
        </div><br>

        <div class="elec">
            <label>Multijugador</label>
        </div><br>

        <div class="elec">
            <label>Unirse a partida</label>
        </div><br>


    </div>
</body>
</html>
