
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partida</title>
    <link rel="stylesheet" href="~/Estilos/Style.css" type="text/css" />
</head>
<body>

    <main id="tablero" class="tablero">

        <div class="fila">
            <div class="casilla"></div>
            <div class="casilla">a</div>
            <div class="casilla">b</div>
            <div class="casilla">c</div>
            <div class="casilla">d</div>
            <div class="casilla">e</div>
            <div class="casilla">f</div>
            <div class="casilla">g</div>
            <div class="casilla">h</div>
            <div class="casilla"></div>
        </div>


        <div class="fila">
            <div class="casilla"><span>1</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>1</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>2</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>2</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>3</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>3</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>4</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>4</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>5</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>5</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>6</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>6</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>7</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>7</span></div>
        </div>

        <div class="fila">
            <div class="casilla"><span>8</span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla juego"><span></span></div>
            <div class="casilla"><span>8</span></div>
        </div>


        <div class="fila">
            <div class="casilla"></div>
            <div class="casilla">a</div>
            <div class="casilla">b</div>
            <div class="casilla">c</div>
            <div class="casilla">d</div>
            <div class="casilla">e</div>
            <div class="casilla">f</div>
            <div class="casilla">g</div>
            <div class="casilla">h</div>
            <div class="casilla"></div>
        </div>
    </main>


</body>
</html>
